body{
    background-image: url(/img/RegistBack.png);
     background-repeat: cover;
    background-position: center center;
}


.relational-link a{
    display: inline;
}



.login-pass {
    font-size:40px;
}

.login-pas-form {
     width: 200px;
    height:30px
}


.login-space {
    background-color: rgba(255, 255, 255, 0.72);
    width:500px;
    height: 360px;
    margin-left: 450px;
}

ul{
    padding-top: 20px;
    padding-left:  30px;
    margin-right: 20px
}
li {
    list-style: none;
    margin: 60px;
}

.logo {
     display: block;
    margin-left:500px;
    margin-top: 100px;
}

label{
    font-weight: bolder;
}
input{
    box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
    float: right;
    padding-right: 20px;
    width:310px;
    height: 26px;
    font-size: 20px;
}
.btn {
    margin-right: 185px;
    margin-top: 40px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    background-color: #000;
    display: inline-block;
    padding: 0.2em 1em;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    transition: .4s;
}
.relational-student,.relational-teacher{
    position: fixed;
    margin-left: 460px;
}
.relational-student {
    display: inline-block;
    color: white;
}

.relational-teacher {
    display: inline-block;
    color: white;
}

.btn:hover{
background-color:  rgba(155, 147, 147, 0.7);
    color: black;
    font-weight: bold;
}
a:hover{
    color: rgba(222, 215, 215, 0.7);
}

