body{
    margin: 0px;
    background-color: rgb(199, 229, 248);
}

#logo{
    padding-top:13px; 
    background-color: white;
    border-bottom:solid 2px gray;
}

#header-logo{
    width: 100%;
    background-color: black;
}

#logout{
    position: absolute;
    background-color: white;
    top:5px;
    right: 20px;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    border: solid 2px black;
}

#mypage{
    position: absolute;
    background-color: white;
    top:5px;
    right: 150px;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    border: solid 2px rgb(202, 114, 32);
}
/*発案ボタン*/
#sug-link{
    transition: 0.5s;
    font-size: 25px;
    color: black;
    margin-top: 60px;
    margin-left: 530px;
    padding:15px 140px;
    border: solid 2px rgb(202, 114, 32);
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 2px gray;
    font-weight:bold 
}

#sug-link:hover{
    transition: 0.5s;
    padding:17px 142px;
    background-color: rgb(168, 95, 26);
}

/*ジャンルリスト*/
#gen-list select{
    position: relative;
    left: 1000px;
    top:76px;
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: dashed 3px white;
}

#gen-list option{
    font-size: 120px;
}

/*検索ボタン*/
#search{
    position: absolute;
    top:240px;
    left: 850px;
    width: 380px;
    margin-left: 40px;
    background-color:white;
    padding: 20px;
    padding-right:80px; 
    box-shadow: 2px 2px 2px 2px gray;
}

#search-wid{
    font-size: 20px;
    width: 170px;
}

#search-btn {
    position: absolute;
    display: inline-block;
    background-color: rgb(202, 114, 32);
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 110px;
    height: 40px;
    font-size: 20px;
    margin-left: 30px;
    top:13px;
}

#search-btn:hover{
    transition: 0.6s;
    background-color: white;
    color:black
}

.paginator{
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 700px;
}

ul{
    list-style: none;
    display: inline;
}

/*リスト項目の設定*/
#koumoku{
    display: inline-block;
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-bottom: solid 2px gray;
    box-shadow: 2px 2px 2px 2px gray;
    background-color: #ffffff;
}

th{
    padding: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#seminar-title{
    padding-right: 280px;
}


/*listの設定*/
.list-tr { 
    box-shadow: 2px 2px 2px 2px gray;
    margin-bottom:130px;
    width: 100px;
    background-color: white;
    margin-bottom: 30px;
}
td{ 
    display:inline-block;
    margin-top: 20px;
    font-size:20px;
}

#title{
    margin-left: 40px;
    padding-left: 0px;
    padding-bottom:40px; 
    width: 1240px;
}

#detail{
    position: absolute;
    margin-top: 60px;
    left: 330px;
    font-size: 14px;
    color: rgb(0, 162, 255);
    border-bottom:solid 2px  rgb(0, 162, 255);
}

#teach-name{
    position: absolute;
    left: 610px;
    margin-top: 30px;
}

#day{
    position: absolute;
    left: 890px;
    margin-top:30px;
}

#capa{
    position: absolute;
    left: 1160px;
    margin-top:28px;
}

/*取消または参加ボタンの設定*/
.sub-btn{
    background-color: rgb(202, 114, 32);
    border-radius:5px 5px 5px 5px; 
    padding:10px 25px;
    color: white;
    font-size: 15px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.sub-btn:hover{
    background-color: rgb(121, 117, 117);
    
}


/*モーダルの設定*/
#modal-wrapper{
    display: none;
    position: absolute;
    top:0px;
    margin: 0px;
    width: 1420px;
    height: 820px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#modal{
    display: none;
    position: relative;
    left: 280px;
    top:60px;
    width: 900px;
    height: 500px;
    background-color: #ffffff;
    z-index: 2;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 3px 3px 3px 3px gray;
}

ul{
    margin-top: 60px;
}

li{
   list-style: none;
    margin: 60px;
}

#list-left{
    float: left;
    position: absolute;
    top:-20px;
}

#list-left li{
    font-size: 23px;
    border-bottom: solid 2px gray;
    width: 700px;
}


#list-right{
    position: absolute;
    top:-50px;
    float: none;
    margin-left: 460px;
}

#list-right li{
    font-size: 30px;
}





/*前後の件数のやつ*/
#first{
    display: inline-block;
    margin-left: 10px;
}

#last{
    display: inline;
}
