body{
    background-image: url('/img/RegistBack.png');
}
h1{
    font-family: "ＭＳ 明朝",serif;
    color: white;
    text-align: center;
    font-size:80px;
    margin: 0;
}
.main-contents{
    background-color: rgba(169, 169, 169, 0.78);
    width: 530px;
    height: 380px;
    margin: auto;
    margin-top: 20px;
}

.main-contents label{
    margin-left: 60px;
}

.main-contents ul{
    padding-top:1px; 
}

.main-contents li{
    margin-top: 30px;
    list-style: none;
    width: 520px;
}

.main-contents input{
    float: right;
    margin-right: 120px;
    font-size: 20px;
}
.genre {
    margin-left: 60px;
    margin-top: 30px;
}

.genre select{
    float: right;
    position: relative;
    right: 130px;
    bottom: 40px;
    width: 160px;
    height: 30px;
}

.btn {
    display: block;
    position: relative;
    left: 80px;
    top: 30px;
    width: 100px;
    font-size: 15px;
    height: 40px;
    background-color: #000;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    transition: .4s;
}

a{
    display: inline-block;
    color: white;
    position: relative;
    top:100px;
}

.btn:hover{
background-color:  rgba(155, 147, 147, 0.7);
    color: black;
    font-weight: bold;
}
a:hover{
    color: rgba(100, 96, 96, 0.7);
}


